<div ng-controller="listMovieController as ctrl">
    <div class="my-4">
        <label for="sort_list">{{ctrl.service.translate('sortBy')}}:</label>
        <select ng-model="sort" ng-change="ctrl.sortBy()" id="sort_list">
            <option value="" selected>{{ctrl.service.translate('ChooseOne')}}</option>
            <option value="option-1">{{ctrl.service.translate('alphabeticOrder')}}</option>
            <option value="option-2">{{ctrl.service.translate('year')}}</option>
            <option value="option-3">{{ctrl.service.translate('marks')}}</option>
        </select>
    </div>
    <div class="d-flex flex-wrap">
        <div ng-repeat="movie in movies" class="card mb-3 me-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img ng-src="{{movie.Poster}}" class="img-fluid rounded-start" alt="{{movie.Title}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{movie.Title}}</h5>
                        <p class="card-text">{{ movie.Description }}</p>
                        <p class="card-text"><small class="text-body-secondary">{{ctrl.service.translate('year')}} : {{ movie.Year }}</small></p>
                        <p class="card-text">{{movie.AverageNote}}/5</p>
                        <a role="button" href="#!/movie?imdbID={{movie.imdbID}}" class="btn btn-outline-primary justify-content-end align-self-md-end">{{ctrl.service.translate('showMore')}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
