﻿<div class="container">
    <div class="row">
        <div class="col-md-6 ">
            <h2>{{ movie.Title }}</h2>
            
            <img ng-src="{{movie.Poster}}" alt="{{movie.Title}}" class="img-fluid">

            <div>
                <p><strong>Description:</strong> {{ movie.Plot }}</p>
                <p><strong>Released:</strong> {{ movie.Released }}</p>
            </div>
        </div>

        <comments-template class="col-md-6"></comments-template>

    </div>

    <rating-template></rating-template>
    
</div>
